<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843763387021-nrcn8p9osti4thols4cp27l05oa9i0q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843763387021-nrcn8p9osti4thols4cp27l05oa9i0q0</string>
	<key>API_KEY</key>
	<string>AIzaSyB6I9onaaBqS8YpIyJq7qAtrvJlvsNip14</string>
	<key>GCM_SENDER_ID</key>
	<string>843763387021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tabunkin-Vadim.Navigation</string>
	<key>PROJECT_ID</key>
	<string>vkhw1-3</string>
	<key>STORAGE_BUCKET</key>
	<string>vkhw1-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843763387021:ios:8fc9c69cafb832958cf0c4</string>
</dict>
</plist>